.button {
    -fx-font: 16px "sans-Serif";
    -fx-text-fill: #fff;
    -fx-padding: 10;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-min-width: 100;
}

.Vbox{
	-fx-translate-x: -50;
	-fx-translate-y: 50;
}