.MainMenue{
	 -fx-background-image: url("../Images/background.jpg");
	 -fx-background-position: -300 -50;
	 -fx-background-size: auto;
}

.button {
    -fx-font: 16px "sans-Serif";
    -fx-text-fill: #fff;
    -fx-padding: 10;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-min-width: 100;
}
