.button {
    -fx-font: 16px "sans-Serif";
    -fx-text-fill: #fff;
    -fx-padding: 10;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-border-color: #000;
    -fx-min-width: 100;
}

.button:hover{
    -fx-border-color: #fff;
}


.label {
    -fx-text-fill: #fff;
}

.hbox {
    -fx-padding: 20;
}

.hbox>* {
    //-fx-background-color: #2f4f4f;
    -fx-spacing: 10;
}

.text-field {
    -fx-background-color: #000;
    -fx-text-fill: #fff;
    -fx-padding: 0;
    -fx-text-alignment: right;
    -fx-max-width: 20;
}